<div class="nav-side-menu">
    <div class="brand"><strong>UAS FIM</strong>
      <p><small>Administración de Centros de Computo</small></p>
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
           <i *ngIf="auth.getEmail()" style="text-align: center; color: white">Ingresaste como: {{auth.getEmail()}}</i> 
  
            <ul id="menu-content" class="menu-content collapse out">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                  <a routerLink="/">
                  <i class="fa fa-home fa-lg"></i> Inicio
                  </a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                  <a routerLink="/usuarios">
                  <i class="fa fa-user-circle fa-lg"></i> Usuarios
                  </a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                  <a routerLink="/alumnos">
                  <i class="fa fa-user fa-lg"></i> Alumnos
                  </a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                  <a routerLink="/equipos">
                  <i class="fa fa-desktop fa-lg"></i> Equipos
                  </a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                  <a routerLink="/prestamos">
                  <i class="fa fa-address-card fa-lg"></i> Prestamos
                  </a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                  <a routerLink="/servicios">
                  <i class="fa fa-wrench fa-lg"></i> Servicios
                  </a>
                </li>

                <li data-toggle="collapse" data-target="#catalogos" class="collapsed" >
                  <i class="fa fa-book fa-lg"></i> Catálogos <span class="arrow"></span>
                </li>  
                <ul class="sub-menu collapse" id="catalogos">
                  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> <a routerLink="/cat/carreras">Carreras</a></li>
                  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> <a routerLink="/cat/grupos">Grupos</a></li>
                  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> <a routerLink="/cat/centros">Centros de Cómputo</a></li>
                  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> <a routerLink="/cat/tipohardware">Tipos de Hardware</a></li>
                </ul>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  *ngIf="!auth.authenticated">
                  <a routerLink="/login">
                  <i class="fa fa-sign-in fa-lg"></i> Iniciar Sesión
                  </a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  *ngIf="auth.authenticated">
                  <a (click)="logout()">
                  <i class="fa fa-sign-in fa-lg" ></i> Cerrar sesión
                  </a>
                </li>

            </ul>
     </div>
</div>

