<div class="nav-side-menu">
    <div class="brand">UAS FIM</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li class="active">
                  <a href="#">
                  <i class="fa fa-home fa-lg"></i> Inicio
                  </a>
                </li>

                <li>
                  <a href="#">
                  <i class="fa fa-user-circle fa-lg"></i> Usuarios
                  </a>
                  <a routerLink="/login">
                      <i class="fa fa-user-circle fa-lg"></i> Login
                      </a>
                </li>

                <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Alumnos
                  </a>
                </li>

                <li>
                  <a href="#">
                  <i class="fa fa-desktop fa-lg"></i> Equipos
                  </a>
                </li>

                <li>
                  <a href="#">
                    <i class="fa fa-wrench fa-lg"></i> Servicios
                  </a>
                </li>  
    

            </ul>
     </div>
</div>

