#page-content-wrapper {
    width: 100%;
    position: relative;
    position: absolute;
    padding: 15px;
    margin-left: 300px;
  }

  @media(max-width:767px) {
    #page-content-wrapper {
        width: 100%;
        position: absolute;
        padding: 15px;
        margin-left: 10px;
      }

  }