<div class="row">
    <div class="" style="padding: 2%;">
    <h2 class="text-center"><i class="fa fa-address-card fa-lg"></i> Listado de Prestamos</h2>
    <hr>
    <div class="btn-group btn-group-justified">
      <a routerLink="/registroprestamo" class="btn btn-success"><i class="fa fa-handshake-o"></i> <i class="fa fa-plus"></i> Registrar Prestamo</a>
    </div>
    <hr>
      
    <div class="input-group md-form form-sm form-2 pl-0">
      <input class="form-control my-0 py-1 grey-border" type="text" placeholder="Buscar" aria-label="buscar" [(ngModel)]="searching" />
      <span class="input-group-addon grey lighten-3" id="basic-addon1"><a><i class="fa fa-search text-grey" aria-hidden="true"></i></a></span>
    </div>
    <hr>
    <div>
      <a class="btn btn-primary pull-right" (click)="refresh()" ><i class="fa fa-refresh"></i></a> 
      <br>
      <br>
    </div>

    <div *ngIf="cargando" class="text-center">
      <img src="../../../assets/cargando.gif" height="70" width="70">
      <br>
      Cargando..
  </div>

<div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>Equipo</th>
            <th>Alumno</th>
            <th>Fecha Prestamo</th>
            <th>Fecha Entrega</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prestamo of prestamos | searchPrestamo: searching; let i = index">
            <td>{{i + 1}}</td>
            <td>{{prestamo.equipment}}</td>
            <td>{{prestamo.student}}</td>
            <td>{{prestamo.outtimestamp | date: 'd/MM/yy - h:mm a'}}</td>
            <td>{{prestamo.intimestamp | date: 'd/MM/yy - h:mm a'}}</td>
            <td>{{prestamo.status}}</td>
            <td><div>
                <a class="btn btn-primary btn-rounded btn-xs" title="Detalle"><i class="fa fa-info-circle"></i></a>
                <a *ngIf="prestamo.status=='PENDIENTE'" class="btn btn-success btn-rounded btn-xs" (click)="entrego(prestamo.key)" title="Entrego"><i class="fa fa-check"></i></a>
                <a *ngIf="prestamo.status=='ENTREGADO'" class="btn btn-default btn-rounded btn-xs"><i class="fa fa-check"></i></a>
                <a class="btn btn-danger btn-rounded btn-xs" (click)="eliminarPrestamo(prestamo.key)" title="Eliminar"><i class="fa fa-trash"></i></a>
            </div></td>
          </tr>
        </tbody>
      </table>
      

</div>
</div>
</div>